.header {
    max-width: 400px;
    margin: 100px auto;
    font-size: 1.1em;
    padding: 14px;
    border-radius: 10px;
    background: linear-gradient(#3EB9DE, #3A80DE);

    &__title {
        padding: 9px 16px;
        font-weight: bold;
        color: #fff;
        border-radius: 6px;
        background: rgba(11,86,139,0.25);
        text-align: center;
    }

    &__btn {
        margin-left: 20px;
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        transition: .2s;
    }

    &__btn:hover {
        cursor: pointer;
        background: #F5F5DC;
    }
}

// .custom-checkbox {
    
// }

.todo-input {
    width: 200px;
    padding: 6px 18px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 6px;
    border: none;

    &:focus {
        outline: 0;
    }
}

.todo-item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-duration: 0.3s;
}

.remove-item {
    cursor: pointer;
    margin-left: 14px;
    font-size: 1.8em;

    &:hover {
        color: black;
    }
}

.todo-item-left {
    display: flex;
    align-items: center;
}

.todo-item-label {
    padding: 10px;
    margin-left: 12px;
}

.todo-item-edit {
    font-size: 24px;
}

.completed {
    text-decoration: line-through;
    color: #666;
}

.item-left {
    margin-top: 20px;
    color: #fff;
}

.check-all {
    color: yellow;
}