.app {
    padding: 15px;
    text-align: center;
}
.navigation {
    margin-bottom: 30px;

    &--item {
        padding-right: 15px;
        font-size: 1.4em;
        color: #000;
        text-decoration: none;
    
        &.active {
            color: green;
        }
    }
}
