.app--container {
    width: 400px;
    margin: 20px auto;
    border-radius: 8px;
    background: linear-gradient(#3EB9DE, #3A80DE);

    & h3 {
        padding: 16px;
        text-align: center;
    }
}

.app--control {
    margin-left: 14px;
}

.app--todo-list--loading {
    width: 100%;
    margin-top: 130px;
    text-align: center;
}