<div class="app--container" *ngIf="!todoListService.isLoading">
    <h3>Todo List</h3>
    <div class="app--control">
        <input type="text"
            #todoText
            (keyup.enter)="todoListService.addItem(todoText.value)"
            [(ngModel)]="todoListService.todoTitle">
        <button (click)="todoListService.addItem(todoText.value)">save</button>
        <button  (click)="todoListService.save()">localhost</button>
    </div>

    <div class="app--todo-list">
        <app-todo
            *ngFor="let todo of todoListService.todoList; let i = index"
            [todo]="todo"
            [index]="i"
            [isTodoSelected]="todoListService.isTodoSelected(todo)"
            (inTodoSelect)="selectTodo($event.id)"
            (elementDeleted)="todoListService.onElementDeleted(todo)">
        </app-todo>
    </div>
</div>

<div class="app--todo-list--loading" *ngIf="todoListService.isLoading">
    loading...
</div>

